<ion-header>
  <ion-navbar>
    <ion-title>
      Camera
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="camera">
  <button ion-button full color="danger" (click)="takePhoto()"  >
    <ion-icon name="camera"></ion-icon>Take Photo
    </button>

    <button ion-button full color="danger" (click)="Gallery()" >
      <ion-icon ios="ios-image" md="md-image"></ion-icon>Gallery
    
      </button>
  
    <ion-grid>
      <ion-row>
        <ion-col col-6  *ngFor=" let photo of photos; let id =index" >
          <ion-card class="block">
           
           
          <img [src]="photo" *ngIf="photo"  />
          <button ion-button full  color="danger">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          </button>
          </ion-card>
          </ion-col>
          </ion-row>
        
      
        <button ion-button  (tap)="toggle()"color="danger" > Flashlight</button>
      
     
    </ion-grid>
</ion-content>
